﻿<div class="container" ng-controller="LoginCtrl" ng-init="init()">
    <form class="form-signin" name="loginForm" novalidate>
        <h2 class="form-signin-heading">Please sign in into Parrot Wings</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="login.emailAddress" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="login.password">
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()" ng-disabled="loginForm.$invalid">Sign in</button>
        <a href="#/register">Register</a>
        <p style="color:red" ng-model="login.validationMessage"></p>
    </form>
</div>