﻿<div class="container" ng-controller="RegisterCtrl" ng-init="init()">
    <form class="form-signin" name="registerForm" novalidate id="registerForm">
        <h2 class="form-signin-heading">Registration in Parrot Wings</h2>
        <input type="text" id="inputUserName" class="form-control" placeholder="UserName" ng-model="register.userName" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="register.emailAddress" required>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="register.password">
        <label for="inputPasswordConfirm" class="sr-only">Password Confirm</label>
        <input type="password" id="inputPasswordConfirm" class="form-control" placeholder="Password Confirm" required ng-model="register.passwordConfirm">
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="register()" ng-disabled="registerForm.$invalid">Register</button>
        <p style="color: red;">{{validationMessage}}</p>
        <a href="#/login" style="text-align: center;">Login</a>
    </form>
</div>