﻿<!DOCTYPE html>
<html lang="en" ng-app="ParrotWingsInner">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Parrot Wings</title>

    <!-- Bootstrap core CSS -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/Content/navbar.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-route.js"></script>
    <script src="/Scripts/Routing/routing-inner.js"></script>
    <script src="/Scripts/Services/currentIdentityService.js"></script>
    <script src="/Scripts/Services/routingService.js"></script>
    <script src="/Scripts/Controllers/innerControllers.js"></script>
</head>

<body>

    <div class="container">

        <!-- Static navbar -->
        <nav class="navbar navbar-default" ng-controller="NavbarCtrl" ng-init="init()">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>-->
                    <a class="navbar-brand" href="#/transactions">Parrot Wings</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:void(0);">{{userName}}</a></li>
                    <li><a href="javascript:void(0)">PWBalance: {{pwballance}}</a></li>
                    <li><a href="javascript:void(0);" ng-click="logout()">Logout</a></li>
                </ul>
            </div><!--/.container-fluid -->
        </nav>
        <div ng-view>

        </div>
    </div> <!-- /container -->
</body>
</html>
