﻿<h1>Add transaction</h1>
<form name="addtransaction" ng-controller="AddTransactionCtrl" ng-init="init()" class="form-group">
    <div class="row">
        <div class="form-group col-lg-3">
            <label for="receiverId">Receiever</label>
            <select class="form-control" ng-model="receiverId" name="receiverId" required autofocus>
                <option ng-repeat="identityUser in identityUsers | orderBy : 'UserName'" value="{{identityUser.Id}}">
                    {{identityUser.UserName}}
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group  col-lg-3">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" placeholder="Amount" name="amount" ng-model="amount" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-lg-3">
            <button class="btn-primary btn form-control" ng-disabled="addtransaction.$invalid" ng-click="add()">Submit</button>
        </div>
    </div>
    <p style="color:red;">{{validationMessage}}</p>
</form>
