﻿<div class="page-header" ng-controller="TransactionsCtrl" ng-init="loadTransactions()">
    <h1>Transactions</h1>
    
    <a href="#/transactions/add" class="btn btn-default">Add transaction</a>
    
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Correspondent Name</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Resulting Balance</th>
        </tr>
        <tr ng-repeat="transaction in transactions | orderBy:'-Date'">
            <td>{{transaction.Id}}</td>
            <td>{{transaction.CorrespondentName}}</td>
            <td>{{transaction.Date | date : 'medium'}}</td>
            <td>{{transaction.Amount}}</td>
            <td>{{transaction.ResultingBalance}}</td>
        </tr>
    </table>
</div>